/* Strat Main Options */

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu.ttf);
}
@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ar {
    font-family: cairo,arial !important;
    direction: rtl;
    text-align: center;
}

body {
    font-family: ubuntu, arial;
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 50px;
}

.left-nav {
    position: fixed;
    top: 45%;
    left: 0;
    width: 35px;
    line-height: 32px;
    height: 35px;
    transform: translateY(-50%);
    border: 1px solid #5dc002;
    background-color: #fff;
    color: #5dc002;
    font-size: 20px;
    text-align: center;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer;
}
.left-nav:hover {
    background-color: #5dc002;
    color: #fff;
}

.over-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    display: none;
}
.over-nav i {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background-color: #5dc002;
    border-radius: 5px;
    border: 1px solid #5dc002;
    cursor: pointer;
    transition: all .3s;
}
.over-nav i:hover {
    background-color: #fff;
    color: #5dc002;
}

.over-nav img {
    width: 150px;
    height: 150px;
    border: 1px solid #5dc002;
    border-radius: 50%;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.over-nav ul:first-of-type {
    padding: 10px 0;
}
.over-nav ul:first-of-type li {
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}
.over-nav ul:first-of-type li:first-of-type {
    text-transform: capitalize;
}

.over-nav ul:last-of-type {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    list-style: none;
} 
.over-nav ul:last-of-type li {
    width: 30%;
    margin: 10px auto;
}
.over-nav ul:last-of-type li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    background-color: #5dc002;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #5dc002;
    transition: all .3s;
}
.over-nav ul:last-of-type li a:hover {
    color: #5dc002;
    background-color: #fff;
}

/* End Main Options */

/* Start Top */

section {
    width: 95%;
    margin: auto;
}

section .top {
    overflow: hidden;
    padding: 20px 0;
    font-size: 17px;
}

.top > div {
    width: calc(100% / 3);
    font-weight: bold;
    float: right;
}
.top .lang {
    text-align: right;
}
.top .lang a {
    text-decoration: none;
    color: #5dc002;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
    transition: all .3s;
}
.top .lang a:hover {
    border-bottom: 4px solid #5dc002;
}
.top .name {
    text-align: center;
}
.top .box i {
    padding: 5px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}
.top .box i:hover {
    background-color: #5dc002;
    color: #fff;
}

/* End Top */

/* Start Filter */

.filter {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    overflow: hidden;
}

.filter div:first-of-type {
    width: 91%;
    float: left;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 10px;
}

.filter div:first-of-type input {
    width: 92%;
    height: 40px;
    float: left;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    padding-left: 5px;
}

.filter div:first-of-type input::placeholder {
    font-weight: bold;
    font-family: ubuntu, arial;
    opacity: 1;
    transition: opacity .5s;
}

.filter div:first-of-type input:focus::placeholder {
    opacity: 0;
}

.filter div:first-of-type i {
    font-size: 20px;
    border: 1px solid #5dc002;
    display: block;
    float: right;
    height: 40px;
    width: 6.5%;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #5dc002;
    transition: all .4s;
}

.filter div:first-of-type i:hover {
    background-color: #f9f9f9;
    color: #5dc002;
}

.filter div:last-of-type {
    border: 1px solid #5dc002;
    width: 6.5%;
    float: right;
    line-height: 45px;
    font-size: 20px;
    display: block;
    height: 45px;
    border-radius: 5px;
    background-color: #5dc002;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 1%;
    color: #fff;
    transition: all .4s;
}

.filter div:last-of-type:hover {
    background-color: #f9f9f9;
    color: #5dc002;
}

/* End Filter */

/* Start Categories */

.categories {
    width: 72%;
    margin: auto;
    display: none;
}

.categories ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
}

.categories ul li {
    display: inline-block;
    margin: 5px;
    width: 47%;
    float: left;
}

.categories ul li a {
    border: 1px solid #5dc002;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    background-color: #5dc002;
    font-weight: bold;
    transition: all .4s;
}
.categories ul li a:hover {
    background-color: #fff;
    color: #5dc002;
}
/* End Categories */

/* Start Items Container */

.item-container {
    overflow: hidden;
    padding: 20px 0;
}
.item-container .item-box {
    width: calc((100% / 3) - 30px);
    float: left;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.item-container .item-box > a {
    text-decoration: none;
    color: #333;
}
.item-container .item-box img {
    width: 80%;
    height: 210px;
    margin-bottom: 20px;
}

.item-container .item-box .name {
    font-weight: bold;
    font-size: 28px;
}

.item-container .item-box .unit {
    margin: 10px 0;
    font-weight: bold;
}

.item-container .item-box .item-action {
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}
.item-container .item-box .item-action > p {
    float: left;
} 
.item-container .item-box .item-action p.price {
    font-weight: bold;
    line-height: 1.4;
    width: calc(100% - 80px);
}
.formlove {
    float: left;
    width: 40px;
    height: 40px;
}
.formCart {
    float: right;
    width: 40px;
    height: 40px;
}
.formlove button,.formCart button {
    border: none;
    outline: none;
    background: none;
}

    .item-container .item-box .item-action button i {
    color: #666;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
}
.item-container .item-box .item-action .formlove button i:hover,.item-container .item-box .item-action  .formlove button i.active {
    color: #f00;
}
.item-container .item-box .item-action .addToCart button i {
    cursor: pointer;
    transition: all .3s;
}
.item-container .item-box .item-action .formCart button i:hover,
.item-container .item-box .item-action .formCart button i.active {
    color: #5dc002;
}
/* End Items Container */

/* Start Notifcations */

.notifications {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #5ec0024f;
    display: none;
}

.notifications .content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    padding: 100px;
    border-radius: 20px;
    width: 80%;
}

.notifications .content i {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    background: #5dc002;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.notifications .noti {
    padding: 20px;
    background-color: #5dc002;
    border-radius: 10px;
    margin-bottom: 10px;
}

.notifications .noti textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    width: 90%;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    color: #fff;
}

.notifications .noti .action-btn {
    float: right;
    width: 10%;
    overflow: hidden;
}
.notifications .noti .action-btn > input {
    float: right;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #DF2E2E;
    border-radius: 5px;
    background-color: #DF2E2E;
    cursor: pointer;
    transition: all .3s;
}
.notifications .noti .action-btn > input:hover {
    color: #DF2E2E;
    background-color: #fff;
}
/* End Notifcations */

/* Start Media Quires */

@media (min-width:1200px) {
    .item-container .item-box {
        width: calc((100% / 4) - 30px);
    }
}

@media (min-width:1800px) {
    .item-container .item-box {
        width: calc((100% / 5) - 30px);
    }
}

@media (min-width:2200px) {
    .item-container .item-box {
        width: calc((100% / 6) - 30px);
    }
}

@media (max-width:800px) {
    body {
        padding-bottom: 70px;
    }
    .item-container .item-box {
        width: calc((100% / 2) - 30px);
    }
    .filter div:first-of-type i {
        width: 35px;
    }
    .filter div:first-of-type input {
        width: 91%;
    }
    .filter div:last-of-type {
        width: 38px;
    }
    .filter {
        width: 90%;
    }
    .notifications .content {
        width: 90%;
        padding: 40px;
    }
    .notifications .noti {
        padding: 13px;
    }
}

@media (max-width:570px) {
    .filter div:first-of-type {
        width: 88%;
    }
    .filter div:first-of-type input {
        width: 90%;
    }
    .categories ul li {
        width: 46%;
    }
}

@media (max-width:470px) {
    .item-container .item-box {
        width: 90%;
    }
    .filter div:first-of-type input {
        width: 85%;
    }
}

@media (max-width:420px) {
    .filter div:first-of-type {
        width: 85%;
    }
    .categories ul li {
        width: 98%;
    }
    .top .box {
        display: none;
    }
    .top .name {
        text-align: left;
    }
    .top .name {
        float: left;
    }
}

@media (max-width:350px) {
    .filter div:first-of-type {
        width: 82%;
    }
    .filter div:first-of-type input {
        width: 80%;
    }
}

@media (max-width:280px) {
    .filter div:first-of-type {
        width: 100%;
    }
    .filter div:last-of-type {
        width: 100%;
        margin-top: 10px;
    }
    .categories {
        width: 93%;
    }

    .item-container .item-box {
        margin-left: 15px;
    }
}

@media (max-width:700px) {
    .notifications .noti textarea {
        width: 88%;
    }
    .notifications .noti .action-btn {
        width: 12%;
    }
}

@media (max-width:600px) {
    .notifications .noti textarea {
        width: 82%;
    }
    .notifications .noti .action-btn {
        width: 18%;
    }
}

@media (max-width:450px) {
    .notifications .noti {
        position: relative;
        margin-bottom: 20px;
    }
    .notifications .noti textarea {
        width: 100%;
    }
    .notifications .noti .action-btn {
        float: none;
        position: absolute;
        top: -10px;
        right: -10px;
    }
}
/* End Media Quires */